{% extends 'music/base.html' %}
{% load define_tag %}
{% load hitcount_tags %}
{% load music_tags %}
{% load vid_tags %}
{% block content %}
{% load embed_video_tags %}
<div class="blur-container">
    <div class="blur-photo">
    {% if album.photo %}
    <img class="" src="{{album.photo.url}}">
    {% endif %}
    </div>
</div>

<div class="views-box">
    <p>Просмотров:&nbsp;</p><pre></pre>
    <p>{% get_hit_count for album %}</p>

</div>
<h5>Дата добавления: <span>{{album.time_create}}</span></h5>
<div class="info-block">
    <h1>{{album.title}}<span>(</span><span>{{album.year}}</span><span>)</span><span>  </span><span><a class="url-text" href="{{ album.group.get_absolute_url }}">{{album.group.title}}</a></span></h1>
</div>
{% if album in user.albums_list.all %}

    <p class="link-read-post"><a href="/deletealbumuser/{{album.id}}">Убрать из избранных</a></p>
{% else %}

    <p class="link-read-post"><a href="/addalbumuser/{{album.id}}">Добавить в избранные</a></p>
{% endif %}
<button class="video-hide-btn" id="hider-button" onclick="myFunction()">Скрыть видео</button>
<div class="embedded-video" id="video-block">

    {% video vid 'tiny' %}

</div>
<div class="content-block">
    {% if album.photo %}
            {% getphoto urltext=album.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <p><img class="img-article-left" src="{{album.photo}}"></p>
            {% else %}
                <p><img class="img-article-left" src="{{album.photo.url}}"></p>
            {% endif %}
        {% endif %}


    {{album.description|linebreaks}}

</div>

<div class="content-block">
    <h2>Список композиций</h2>
    <h3>Количество треков: <span>{{count_tracks}}</span></h3>
<ul>
    {% for t in tracks %}
    <a href="{{ t.get_absolute_url }}"><li>
    {% if t.album_id == album.pk %}
        {% if album.photo %}
            <a href="{{t.get_absolute_url}}"><img class="img-article-left-tracks thumb" src="{{album.photo.url}}"></a>
        {% endif %}
        {% for g in groups %}
            {% if g.pk == album.group_id %}
                <p><a class="url-text" href="{{ g.get_absolute_url }}">{{g.title}}</a></p>
                <p><a class="url-text" href="{{ album.get_absolute_url }}">{{album.title}}</a></p>
                <h2><a class="url-text" href="{{ t.get_absolute_url }}">{{t.title}}</a></h2>
                <div class="clear"></div>

            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}
    </li>
    </a>

</ul>
</div>
<script>
	function myFunction() {
        var x = document.getElementById("video-block");
        var b = document.getElementById("hider-button");
        if (x.style.display === "none") {
            x.style.display = "block";
            b.innerText = 'Скрыть видео';
            b.style.bottom = "320px";
        } else {
            x.style.display = "none";
            b.innerText = 'Показать видео';
            b.style.bottom = 0;
    }
}
</script>


{% endblock %}