{% extends 'music/base.html' %}

{% load hitcount_tags %}

{% block content %}

<div class="views-box">
    <p>Просмотров:&nbsp;</p><pre></pre>

    <p>{% get_hit_count for album %}</p>
</div>
<h1>{{album.title}}</h1>

{% if album.photo %}
<p><img class="img-article-left" src="{{album.photo.url}}"></p>
{% endif %}

{{album.description|linebreaks}}
<hr>
<h2>Список композиций</h2>
<ul>
    {% for t in tracks %}
    <li>
    {% if t.album_id == album.pk %}
        {% if album.photo %}
            <p><img class="img-article-left thumb" src="{{album.photo.url}}"></p>
        {% endif %}
        {% for g in groups %}
            {% if g.pk == album.group_id %}
                <p><a href="{{ g.get_absolute_url }}">{{g.title}}</a></p>
                <p>{{album.title}}</p>
                <h2>{{t.title}}</h2>
                <div class="clear"></div>
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}
    </li>
</ul>


{% endblock %}