{% load static %}

{% load music_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'music/css/style.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'music/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			{% if request.user.is_authenticated %}
			<li class="last">{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
			{% else %}
			<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
			{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>

	<td valign="top" class="left-chapters">
		{% getgen as genres %}
	<ul id="leftchapters">
		{% if gen_selected == 0 %}
			<li class="selected">Все треки</li>
		{% else %}
			<li><a href="{% url 'tracks' %}">Все треки</a></li>
		{% endif %}
		{% for gen in genres %}
    			{% if gen.pk == gen_selected %}
        			<li class="selected">{{gen.title}}</li>
    			{% else %}
        			<li><a href="{{ gen.get_absolute_url }}">{{gen.title}}</a></li>
    			{% endif %}
		{% endfor %}
	</ul>
</td>

<td valign="top" class="content">

	{% block breadcrumbs %}
	{% endblock %}


	<div class="content-text">
{% block content %}

{% endblock %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
	<ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}
		{% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
		<li class="page-num">
			<a href="?page={{ p }}">{{ p }}</a>
		</li>
		{% endif %}

		{% endfor %}
		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
	</ul>
{% endif %}
</nav>
	</div>


</td></tr></table>
</td></tr>


</td></tr></table>

</body>

<footer>
	<div id="footer">
		<p></p>
	</div>
</footer>

</html>
