{% extends 'music/base.html' %}
{% load hitcount_tags %}
{% block content %}
{% load define_tag %}
{% load music_tags %}
<div class="views-box">
    <p>Просмотров:&nbsp;</p><pre></pre>

    <p>{% get_hit_count for group %}</p>
</div>

<h1>{{group.title}}</h1>
<div class="btnpdf">
    {% if user.groups_list %}
    {% if group in user.groups_list.all %}

        <p class="link-read-post"><a href="/deletegroupuser/{{group.id}}">Убрать из избранных</a></p>
    {% else %}

        <p class="link-read-post"><a href="/addgroupuser/{{group.id}}">Добавить в избранные</a></p>
    {% endif %}
    {% endif %}

    <p class="link-read-post"><a href="{% url 'pdfviewgroup' id_group=group.id %}">Скачать pdf</a></p>
</div>

{% if group.photo %}
            {% getphoto urltext=group.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <p><img class="img-article-left" src="{{group.photo}}"></p>
            {% else %}
                <p><img class="img-article-left" src="{{group.photo.url}}"></p>
            {% endif %}
        {% endif %}

{{group.description|linebreaks}}
<h2>Список альбомов</h2>
<ul>
    {% for al in albums %}
    <li>
    {% if al.group_id == group.pk %}
         {% if al.photo %}
            {% getphoto urltext=al.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ al.get_absolute_url }}"><img class="img-article-left thumb" src="{{al.photo}}"></a>
            {% else %}
                <a href="{{ al.get_absolute_url }}"><img class="img-article-left thumb" src="{{al.photo.url}}"></a>
            {% endif %}
        {% endif %}

        <p><a class="url-text" href="{{ al.get_absolute_url }}">{{al.title}}</a></p>
        <p><h3>{{al.year}}</h3></p>
        <p><a class="url-text" href="{{ group.get_absolute_url }}">{{group.title}}</a></p>
        <div class="clear"></div>
         <p class="link-read-post"><a href="{{ al.get_absolute_url }}">Подробнее</a></p>
        <hr>

    {% endif %}

    {% endfor %}
    </li>
</ul>
{% endblock %}