{% extends 'music/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="profile-block">
    <div class="profile-img">
        <img src="https://via.placeholder.com/200">
        <p>{{user.username}}</p>
    </div>
    <div class="profile-info">
        <p>Дата регистрации: <span>{{user.date_joined}}</span></p>
        <p>Электронная почта: <span>{{user.email}}</span></p>
    </div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные альбомы</h3>
    </div>
    <div class="albums">
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/51y7jG4mLzL._AC_SX522_.jpg" alt="Album Cover">
   <h2>Random Access Memories</h2>
   <p>Daft Punk</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/81QvC%2B1OGmL._AC_SL1500_.jpg" alt="Album Cover">
   <h2>Back in Black</h2>
   <p>AC/DC</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/71X9Sd%2B%2ByLL._AC_SL1200_.jpg" alt="Album Cover">
   <h2>Thriller</h2>
   <p>Michael Jackson</p>
   <a href="#">Слушать</a>
  </div>

</div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные исполнители</h3>
    </div>
    <div class="albums">
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/51y7jG4mLzL._AC_SX522_.jpg" alt="Album Cover">
   <h2>Random Access Memories</h2>
   <p>Daft Punk</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/81QvC%2B1OGmL._AC_SL1500_.jpg" alt="Album Cover">
   <h2>Back in Black</h2>
   <p>AC/DC</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/71X9Sd%2B%2ByLL._AC_SL1200_.jpg" alt="Album Cover">
   <h2>Thriller</h2>
   <p>Michael Jackson</p>
   <a href="#">Слушать</a>
  </div>

</div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные треки</h3>
    </div>
    <div class="albums">
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/51y7jG4mLzL._AC_SX522_.jpg" alt="Album Cover">
   <h2>Random Access Memories</h2>
   <p>Daft Punk</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/81QvC%2B1OGmL._AC_SL1500_.jpg" alt="Album Cover">
   <h2>Back in Black</h2>
   <p>AC/DC</p>
   <a href="#">Слушать</a>
  </div>
  <div class="album">
   <img src="https://images-na.ssl-images-amazon.com/images/I/71X9Sd%2B%2ByLL._AC_SL1200_.jpg" alt="Album Cover">
   <h2>Thriller</h2>
   <p>Michael Jackson</p>
   <a href="#">Слушать</a>
  </div>

</div>
</div>

{% endblock %}