{% extends 'music/base.html' %}
{% load music_tags %}
{% block content %}
<h1>{{title}}</h1>
<div class="profile-block">
    <div class="profile-img">
        <img src="https://via.placeholder.com/200">
        <p>{{user.username}}</p>
    </div>
    <div class="profile-info">
        <p>Дата регистрации: <span>{{user.date_joined}}</span></p>
        <p>Электронная почта: <span>{{user.email}}</span></p>

    </div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные альбомы</h3>
    </div>
    <div class="albums">
   {% for al in user.albums_list.all %}
         <div class="album">
            {% if al.photo %}
            {% getphoto urltext=al.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ al.get_absolute_url }}"><img src="{{al.photo}}"></a>
            {% else %}
                <a href="{{ al.get_absolute_url }}"><img src="{{al.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{al.title}}</h2>
            <p><a href="{{al.group.get_absolute_url}}">{{al.group.title}}</a></p>
            <a href="{{ al.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
</div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные исполнители</h3>
    </div>
    <div class="albums">
   {% for gr in user.groups_list.all %}
         <div class="album">
            {% if gr.photo %}
            {% getphoto urltext=gr.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ gr.get_absolute_url }}"><img src="{{gr.photo}}"></a>
            {% else %}
                <a href="{{ gr.get_absolute_url }}"><img src="{{gr.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{gr.title}}</h2>

            <a href="{{ gr.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
    </div>
</div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные треки</h3>
    </div>
    <div class="albums">
   <div class="albums">
   {% for tr in user.tracks_list.all %}
         <div class="album">
            {% if tr.album.photo %}
            {% getphoto urltext=tr.album.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ tr.get_absolute_url }}"><img src="{{tr.album.photo}}"></a>
            {% else %}
                <a href="{{ tr.get_absolute_url }}"><img src="{{tr.album.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{tr.title}}</h2>
            <p>{{tr.album.title}}</p>
             <p>{{tr.album.group.title}}</p>
            <a href="{{ tr.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
    </div>

</div>
</div>

{% endblock %}