{% extends 'music/base.html' %}
{% load music_tags %}
{% block content %}
<h1>{{title}}</h1>
<div class="profile-block">
    <div class="profile-img">
        <img src="https://via.placeholder.com/200">
        <p>{{user.username}}</p>
    </div>
    <div class="profile-info">
        <p>Дата регистрации: <span>{{user.date_joined}}</span></p>
        <p>Электронная почта: <span>{{user.email}}</span></p>
        <a href="#"><button>Мои плейлисты</button></a>
    </div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные альбомы</h3>
    </div>
    <div class="albums">
   {% for al in user.albums_list.all %}
         <div class="album">
            {% if al.photo %}
            {% getphoto urltext=al.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ al.get_absolute_url }}"><img src="{{al.photo}}"></a>
            {% else %}
                <a href="{{ al.get_absolute_url }}"><img src="{{al.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{al.title}}</h2>
            <p><a href="{{al.group.get_absolute_url}}">{{al.group.title}}</a></p>
            <a href="{{ al.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
</div>
    <button id="btn-add-album">Показать еще</button>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные исполнители</h3>
    </div>
    <div class="albums">
   {% for gr in user.groups_list.all %}
         <div class="group">
            {% if gr.photo %}
            {% getphoto urltext=gr.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ gr.get_absolute_url }}"><img src="{{gr.photo}}"></a>
            {% else %}
                <a href="{{ gr.get_absolute_url }}"><img src="{{gr.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{gr.title}}</h2>

            <a href="{{ gr.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
    </div>
    <button id="btn-add-group">Показать еще</button>
</div>
</div>
<div class="albums-container">
    <div class="albums-info">
        <h3>Избранные треки</h3>
    </div>
   <div class="albums">
   {% for tr in user.tracks_list.all %}
         <div class="track">
            {% if tr.album.photo %}
            {% getphoto urltext=tr.album.photo.url as urlcheck %}
            {% if urlcheck == 'htp' %}
                <a href="{{ tr.get_absolute_url }}"><img src="{{tr.album.photo}}"></a>
            {% else %}
                <a href="{{ tr.get_absolute_url }}"><img src="{{tr.album.photo.url}}"></a>
            {% endif %}
            {% endif %}
            <h2>{{tr.title}}</h2>
            <p>{{tr.album.title}}</p>
             <p>{{tr.album.group.title}}</p>
            <a href="{{ tr.get_absolute_url }}">Слушать</a>
        </div>
   {% endfor %}
    </div>
    <button id="btn-add-track">Показать еще</button>
</div>
</div>
<script>
        window.onload = function () {
        var box=document.getElementsByClassName('album');
        var boxgroup=document.getElementsByClassName('group');
        var btn=document.getElementById('btn-add-album');
        var btngroup=document.getElementById('btn-add-group');
        var boxtrack=document.getElementsByClassName('track');
        var btntrack=document.getElementById('btn-add-track');
        for (let i=3;i<box.length;i++) {
            box[i].style.display = "none";
        }
        for (let i=3;i<boxgroup.length;i++) {
            boxgroup[i].style.display = "none";
        }
        for (let i=3;i<boxtrack.length;i++) {
            boxtrack[i].style.display = "none";
        }

        var countD = 3;
        var countG = 3;
        var countT = 3;
        btn.addEventListener("click", function() {
            var box=document.getElementsByClassName('album');
            countD += 3;
            if (countD <= box.length){
                for(let i=0;i<countD;i++){
                    box[i].style.display = "block";
                }
            }
            else{
                countD -= 3
                countD += 2
                if (countD <= box.length){
                    for(let i=0;i<countD;i++){
                        box[i].style.display = "block";
                    }
                }
                else{
                    countD -= 2
                    countD += 1
                    if (countD <= box.length){
                        for(let i=0;i<countD;i++){
                            box[i].style.display = "block";
                        }
                    }
                }

            }


        })
        btntrack.addEventListener("click", function() {
            var boxtrack=document.getElementsByClassName('track');
            countT += 3;
            if (countT <= boxtrack.length){
                for(let i=0;i<countT;i++){
                    boxtrack[i].style.display = "block";
                }
            }
            else{
                countT -= 3
                countT += 2
                if (countT <= boxtrack.length){
                    for(let i=0;i<countT;i++){
                        boxtrack[i].style.display = "block";
                    }
                }
                else{
                    countT -= 2
                    countT += 1
                    if (countT <= boxtrack.length){
                        for(let i=0;i<countT;i++){
                            boxtrack[i].style.display = "block";
                        }
                    }
                }

            }


        })
        btngroup.addEventListener("click", function() {
            var boxgroup=document.getElementsByClassName('group');
            countG += 3;
            if (countG <= boxgroup.length){
                for(let i=0;i<countG;i++){
                    boxgroup[i].style.display = "block";
                }
            }
            else{
                countG -= 3
                countG += 2
                if (countG <= boxgroup.length){
                    for(let i=0;i<countG;i++){
                        boxgroup[i].style.display = "block";
                    }
                }
                else{
                    countG -= 2
                    countG += 1
                    if (countG <= boxgroup.length){
                        for(let i=0;i<countG;i++){
                            boxgroup[i].style.display = "block";
                        }
                    }
                }

            }


        })
    }

</script>
{% endblock %}