{% extends 'music/base.html' %}
{% load music_tags %}
{% block content %}
<h1>{{title}}</h1>
<ul>
    {% for p in albums %}
    <li>

        {% for h in hits %}
            {% if h.content_type_id == 7 %}
                {% if h.object_pk == p.pk %}
                    {% if p.photo %}
                        {% getphoto urltext=p.photo.url as urlcheck %}
                        {% if urlcheck == 'htp' %}
                            <a href="{{ p.get_absolute_url }}"><img class="img-article-left thumb" src="{{p.photo}}"></a>
                        {% else %}
                            <a href="{{ p.get_absolute_url }}"><img class="img-article-left thumb" src="{{p.photo.url}}"></a>
                        {% endif %}
                    {% endif %}
                    <p><h2><a class="url-text" href="{{ p.get_absolute_url }}">{{p.title}}</a></h2><h3>{{p.year}}</h3></p>
                    <p>{{p.description | linebreaks | truncatewords:15}}</p>
                    <div class="clear"></div>
                    {% for g in groups %}
                        {% if g.pk == p.group_id %}
                            <p><a class="url-text" href="{{ g.get_absolute_url }}">{{g.title}}</a></p>
                        {% endif %}
                    {% endfor %}
                    <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
                    <hr>
                {% endif %}
            {% endif %}
        {% endfor %}

    </li>
    {% endfor %}
</ul>
{% endblock %}