{% extends 'music/base.html' %}

{% block content %}
{% load embed_video_tags %}
<div class="info-block">
    <h1><a class="url-text" href="{{ track.album.group.get_absolute_url }}">{{track.album.group.title}}</a> <span>-</span> <span>{{track.title}}</span></h1>
    <h5><a class="url-text" href="{{ track.album.get_absolute_url }}">{{track.album.title}}</a></h5>
    <h7>Жанр: <span><a class="url-text" href="{{ track.genre.get_absolute_url }}">{{track.genre.title}}</a></span></h7>
</div>
{% if user.tracks_list %}
    {% if track in user.tracks_list.all %}

        <p class="link-read-post"><a href="/deletetrackuser/{{track.id}}">Убрать из избранных</a></p>
    {% else %}

        <p class="link-read-post"><a href="/addtrackuser/{{track.id}}">Добавить в избранные</a></p>
    {% endif %}
{% endif %}

<button class="video-hide-btn" id="hider-button" onclick="myFunction()">Скрыть видео</button>
<div class="embedded-video" id="video-block">

    {% video vid 'tiny' %}

</div>
{% if track.album.photo %}
<p><img class="img-article-left" src="{{track.album.photo.url}}"></p>
{% endif %}
<div class="content-block">

<ul>
    <h2>Может понравиться:</h2>
    <li>
        {% for t in recs %}
        <p><a class="url-text" href="{{ t.album.group.get_absolute_url }}">{{t.album.group.title}}</a><span> - </span><span><a class="url-text" href="{{ t.get_absolute_url }}">{{t.title}}</a></span></p>
        {% endfor %}
    </li>



</ul>
</div>
<script>
	function myFunction() {
        var x = document.getElementById("video-block");
        var b = document.getElementById("hider-button");
        if (x.style.display === "none") {
            x.style.display = "block";
            b.innerText = 'Скрыть видео';
            b.style.bottom = "320px";
        } else {
            x.style.display = "none";
            b.innerText = 'Показать видео';
            b.style.bottom = 0;
    }
}
</script>


{% endblock %}