html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #1077e6;
	background: #696969;

}

a {
	color: #1077e6;
	text-decoration: none;
}
a:hover {
	color: #1077e6;
	text-decoration: underline;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

img.img-article-left-tracks {
	max-width: 100px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
	margin-left: 20px;
	margin-top: 20px;
}

img.img-article-left-tracks.thumb {
	max-width: 100px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;

	min-width: 100px;
	background: #33d8dd;
	color: #fff;
	text-decoration: none;
}

div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}
.geturl a{
    color: #dbdbdb;
}
.geturl a:hover{
    color: #1077e6;
    text-decoration: none;
}
ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #2C3531;
	height: 60px;
}

.logo {
	background: url('../images/newlogo.svg') no-repeat 15px;
    background-size: 70%;
    width: 80px;
    height: 60px;

}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #D1E8E2;
	font-size: 20px;
	overflow: hidden;
}

button{
        border-radius:15px;
        border:none;
        padding:15px;
        color: #121212;
        background:white;
        box-shadow: 5px 5px 10px -2px rgba(34, 60, 80, 0.2);
        border: 2px solid black;
}

button:hover{
    opacity:0.7;
}

button:active{
    box-shadow: none;
    border:none;
}

ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #D1E8E2;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #33d8dd;

}

.panelitems {
	text-align: center;
}

ul.langitem {
	list-style: none;
	display: inline-block;
	margin: 30px;
	padding: 0;
	max-width: 300px
}
ul.langitem li {
	margin: 10px 0 0 0;
	width: 100%;
}
ul.langitem li.image {
	margin: 0;
	text-align: center;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
ul.langitem li.descr {
	color: #777;
	height: 170px;
	overflow: hidden;
}
ul.langitem li a {
	color: #fdc073;
	text-decoration: none;
	font-size: 20px;
}
ul.langitem li a:hover {
	color: #FDA83D;
}
div.button {
	background: #3F4137;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow-y: scroll;
}

.left-chapters {
	margin: 0;
	background: #2C3531;
	border-right: 3px solid #1077e6;
	min-height: 100%;
	overflow: auto;

}
.left-chapters ul {
	width: 230px;

	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;


}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #D1E8E2;

}
.left-chapters ul li.selected {color: #33d8dd; }
.left-chapters ul li a {
	color: #D1E8E2;
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #33d8dd; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}

.content {
	padding: 20px 40px 20px 20px;
	width: 100%;
	box-sizing: border-box;
	background: white;
	position: relative;



}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: white; }
ul.breadcrumbs li:after{
	padding: 0 10px 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

ul.control {
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 100%;
}
ul.control li {	float: left; padding: 0 0 0 10px;}
ul.control li.first:before {content: "\2190"; padding: 0 10px 0 0;}
ul.control li.last {float: right; padding: 0 40px 0 0;}
ul.control li.last:after {content: "\2192"; padding: 0 0 0 10px;}
ul.control li a { color: #0059b2; text-decoration: none; }
ul.control li a:hover { color: #CC0000; }

ul.content-table {
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;


}
ul.content-table li {
	margin: 0 0 40px 0;
	list-style-type: none;
}
ul.content-table li a {
    list-style-type: none;
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #F0711C;}

.content-text {

	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;


}
.content-text h1 {font-size: 32px; color: #20b9be}


ul.lang-list {
	list-style: none;
	margin: 0;
	padding: 14px 0 0 0;
	background: #3F4137;
	width: 100%;
	height: 50px;
	border-top: 1px solid #959A82;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
ul.lang-list li {
    list-style: none;
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #6363ff; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
    list-style: none;
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #fdc073;}

.topic-subject .topic-line {
	border-bottom: 1px solid #CC0000;
	margin-top: -16px;
}

.topic-subject .topic-text {
	display: inline-block;
	font-size: 28px;
	color: #777;
	padding: 0 10px 0 10px;
	margin-left: 30px;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
}

.list-topic {
	margin: 40px 0 60px 0;
	font-family: 'Montserrat', sans-serif;
}
.list-topic p {
	margin: 0;
	font-size: 28px;
}
.list-topic ol {
	columns: 2;
	-webkit-columns: 2;
	column-gap: 40px;
}
.list-topic ol li {
	display: list-item;
	margin: 10px 10px 0 0px;
	padding: 0 0 0 10px;
}
.list-topic ol li a {
	color: #0059b2;
	text-decoration: none;
}
.list-topic ol li a:hover {color: #CC0000;}

.highlight {
	max-width: 350px;
	padding: 0 10px 0 10px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	background: #f0f0f0;
}
.highlight p { margin: 0; }
.highlight .block {
	width: 100%;
	margin: 0;
}
.highlight .block p { margin: 0; }

.quote {
	background: url('../images/blockquote.png') no-repeat 0 10px;
	padding: 5px 5px 5px 70px;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

#footer {
	box-sizing: border-box;

	background: #171616;;
	padding: 5px;
	color: #aaa;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	overflow: hidden;
	height: 100px;
}
#footer a {
	text-decoration: underline;
	color: #aaa;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #ff6363;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}
li {
    list-style-type: none;
}
.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;

}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;

}
.list-pages a {
	color: black;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {

	background: #116466;
	color: white;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
.views-box{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    z-index: 100;
}
.embedded-video{
    display: flex;
    flex-direction: column;
    position: fixed;

    right: 0;
    bottom: 0;


}



.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e09e;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.info-block{
    background: #116466;
    z-index: 100;

    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}
.info-block h1{
    color: white;
}
.info-block a{
    color: white;
}
.content-block{

    margin-top: 20px;
    margin-bottom: 20px;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.content-block ul li{
    background: #116466;

    border-radius: 20px

}
.content-block ul li a{
    color: white;

}

.blur-photo{
    position: absolute;
    -webkit-filter: blur(4px);
    position: center;
    top: 0;
    right: 45%;
    z-index: -1;
    max-height: 400px;
}
.blur-container{
    position: relative;
    width: 300;
    height: 300;
    max-height: 300px;
}
.blur-photo img{

    max-height: 300px;
    width: 300;
    height: 300;

}
.url-text{
    color: black;
    text-decoration: none;
}
.url-text:hover{
    color: #33d8dd;
    text-decoration: none;
}
::-webkit-scrollbar { /* 1 - скроллбар */
    width: 15px;

    background-color: #2C3531;
}

::-webkit-scrollbar-button { /* 2 - кнопка */

}

::-webkit-scrollbar-track { /* 3 - трек */
}

::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 5px;
    background-color: #116466;
}

::-webkit-scrollbar-corner { /* 6 - уголок */
}

::-webkit-resizer { /* 7 - изменение размеров */
}
.input-search{
padding: 9px;
     font-size: 22px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 44px;
     box-shadow: 0px 0px 6px rgba(66,66,66,.57);
     text-shadow: 0px 0px 0px rgba(66,66,66,.56);
}
.input-submit{
        border-radius:15px;
        border:none;
        padding:15px;
        color: #121212;
        background:white;
        box-shadow: 5px 5px 10px -2px rgba(34, 60, 80, 0.2);
        border: 2px solid black;
}
.input-submit:hover{
    opacity:0.7;
}

.input-submit:active{
    box-shadow: none;
    border:none;
}
hr{
    background: #116466;
    height: 2px;
}
.video-hide-btn{
    background: #116466;
    color: white;
    opacity: 1;
    margin: 5px;
    width: 10%;

    position: fixed;

    right: 0;
    bottom: 320px;


}
.profile-img{
    display: flex;
    flex-direction: column;

}
.profile-img img{
    max-width: 200px;
    max-height: 200px;
}
.profile-block{
    display: flex;
    flex-direction: row;
    background: #116466;
    z-index: 100;

    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}
.profile-block p{
    color: white;
}
.profile-info{
    margin-left: 20px;
}

.star-btn a{
    padding: 10px;

	min-width: 200px;
	border-radius: 50px;

	color: yellow;
	text-decoration: none;
}
.star-btn:hover{
    text: &#9733;
}
.albums {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   margin-top: 50px;
  }
 .album {
  width: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin-bottom: 30px;
  margin-right: 20px; /* отступ справа */
  margin-left: 20px; /* отступ слева */
  padding: 20px;
  text-align: center;
}
  .album img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .album h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 10px;
  }
  .album p {
   font-size: 16px;
   color: #666;
   margin-bottom: 20px;
  }
  .album a {
   display: inline-block;
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
   transition: all .3s ease-in-out;
   background: #116466;
   z-index: 100;

   padding: 10px;
   box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
   border-radius: 20px;
  }
  .album a:hover {
   background-color: #666;
  }
.albums-container{
   background: #116466;
   z-index: 100;


   box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
   border-radius: 20px;
}
.group {
  width: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin-bottom: 30px;
  margin-right: 20px; /* отступ справа */
  margin-left: 20px; /* отступ слева */
  padding: 20px;
  text-align: center;
}
  .group img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .group h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 10px;
  }
  .group p {
   font-size: 16px;
   color: #666;
   margin-bottom: 20px;
  }
  .group a {
   display: inline-block;
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
   transition: all .3s ease-in-out;
   background: #116466;
   z-index: 100;

   padding: 10px;
   box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
   border-radius: 20px;
  }
  .group a:hover {
   background-color: #666;
  }
  .track {
  width: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin-bottom: 30px;
  margin-right: 20px; /* отступ справа */
  margin-left: 20px; /* отступ слева */
  padding: 20px;
  text-align: center;
}
  .track img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .track h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 10px;
  }
  .track p {
   font-size: 16px;
   color: #666;
   margin-bottom: 20px;
  }
  .track a {
   display: inline-block;
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
   transition: all .3s ease-in-out;
   background: #116466;
   z-index: 100;

   padding: 10px;
   box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
   border-radius: 20px;
  }
  .track a:hover {
   background-color: #666;
  }
